﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Folks!</h1>
    <p>Lets jump into a quick tour on CQRS and its implementation using MediatR</a>.</p>
</div>
