﻿@model eCommerce.Models.ProductCategoryCreateViewModel
@{
    ViewData["Title"] = "Add";
}

<h3>Add Product Category</h3>
<br />
@using (Html.BeginForm(FormMethod.Post, new { }))
{
<div class="form">
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Active</label>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Active, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12" style="text-align:right;">
            <button type="submit" class="btn btn-primary">Submit</button>
            @Html.ActionLink("Cancel", "Index", new { }, new { @class="btn btn-secondary" })
        </div>
    </div>
</div>
}