﻿@using eCommerce.ApplicationServices.Dto

@model ProductCategoryDetailModel

@{
    ViewData["Title"] = "Detail";
}

<h3>Product Category Detail</h3>
<br />

<div class="form">
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Name</label>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Name, new { @class = "form-control-plaintext" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Active</label>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12" style="text-align:right;">
            @Html.ActionLink("Edit", "Edit", new { id= Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>