﻿@using eCommerce.ApplicationServices.Dto

@model IEnumerable<ProductCategoryDetailModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Product Categories</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Active</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@Html.DisplayFor(model => item.Active)</td>
            <td>
                @Html.ActionLink("View", "Detail", new { id = item.Id })
            </td>
        </tr>
        }        
    </tbody>
</table>

@Html.ActionLink("Add New", "Add", new { }, new { @class="btn btn-primary btn" })